[submodule "futures-rs"]
	path = futures-rs
	url = https://github.com/rust-lang-nursery/futures-rs.git
[submodule "tokio"]
	path = tokio
	url = https://github.com/tokio-rs/tokio.git
[submodule "mio"]
	path = mio
	url = https://github.com/carllerche/mio.git
[submodule "futures-await"]
	path = futures-await
	url = https://github.com/alexcrichton/futures-await.git
[submodule "rust-spdk"]
	path = rust-spdk
	url = https://github.com/PumpkinDB/rust-spdk.git
